/* overall style setup */
html{
    font-family: Calibri;
    font-size: large;
    background-color: rgb(32, 32, 48);
    color: rgb(199, 203, 255);
}

header h1{
    margin: auto;
    text-align: center;
    color: royalblue;
}

button{
    text-decoration: none;
    color: white;
    padding: 0.7rem;
    background-color: rgb(54, 54, 65);
    border-radius: 1.8rem;
    border-color: royalblue;
    border-style: solid;
    transition: all 0.5s;
}

a{
    text-decoration: none;
    color: white;
}
html, body{
    height: 100%;
    margin: 0;
}
#main{
    border-radius: 2rem;
    padding: 1rem;
    border-color: royalblue;
    border-style: solid;
    background-color: rgb(60, 60, 70);
    margin: 1rem auto;
    width: 50%;
}

.container{
    height: calc(100% - 42px);
    display: grid;
    grid-template-areas: 'side mess' 'side form';
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto min-content;
}

#sidebar{
    margin: 0.3rem;
    border-radius: 1rem;
    padding: 0.3rem;
    border-color: royalblue;
    border-style: solid;
    grid-area: side;
    background-color: rgb(60, 60, 70);
}

#messages{
    margin: 0.3rem;
    border-radius: 1rem;
    padding: 0.3rem;
    border-color: royalblue;
    border-style: solid;
    grid-area: mess;
    background-color: rgb(60, 60, 70);
    overflow-y: auto;
}

.conversation{
    border: 1px, solid, black;
    border-radius: 30px;
    width: 100%;
    height: 50px;
    background-color: rgb(65, 68, 99);
    font-size: 1.5rem;
}

.message{
    margin: 1rem;
    background-color: rgb(65, 68, 99);
    border: 1px, solid, black;
    border-radius: 20px;
    width: max-content;
}

.userMessage{
    margin-left: auto;
}

.username{
    margin: 8px 8px 0;
}

.messageBody{
    margin: 8px 8px 0;
}

.date{
    margin: 8px 8px 5px;
}

#messageForm{
    grid-area: form;
    height: min-content;
    margin: 0.3rem;
}

#messageForm input[type=text]{
    width: calc(100% - 0.6rem - 4px - 60px);
    border-radius: 1rem;
    padding: 0.3rem;
    border-color: royalblue;
    border-style: solid;
    background-color: rgb(32, 32, 48);
    color: rgb(199, 203, 255);
}

#messageForm input[type=submit]{
    border-radius: 1rem;
    padding: 0.3rem;
    border-color: royalblue;
    border-style: solid;
    background-color: rgb(32, 32, 48);
    color: rgb(199, 203, 255);
}